<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap jumbotron2</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.6.0.min.js"></script>  <!-- jquery가 먼저 와야 함 -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron alert-primary">
        <h1 class="text-center">지능형 서비스 풀스택 과정</h1>
        <p class="text-center text-danger">
            Java / MySQL /HTML / CSS / JavaScript / jQuery / Bootstrap /
            Servlet / JSP / Spring Framework / AI API</p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="#">커리큘럼 보기</a></p>
    </div>
</div>
</body>
</html>
