<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap jumbotron</title>
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <!--link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- jQuery가 먼저 와야함!!!! -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron alert-success">
            <h1>Jumbotron</h1>
            <p>둥근 모서리 사각형 영역</p>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Jumbotron</h1>
            <p>container 밖에 있는 jumbotron</p>
            <p>jumbotron-fluid 클래스: 각진 모서리</p>
        </div>
    </div>
</body>
</html>